/*id*/
#re {
    border-top: none;
    width: 700px;
    margin: 0 auto;
    padding: 2px;
    text-align: left;
}

/*class*/
.img_wrap {
    text-align: center; /*让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
    width: 1024px;
    height: 330px;
    margin: 0 auto;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#img {
    width: 300px;
    margin: 30px;
}

#search_button {
    width: 400px;
    margin: 40px;
}

/*class 是button input type  是submit*/
.button input[type="submit"] {
    background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 20px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.row {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.table>thead>tr>th {
     text-align: center;
}
