<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XXBC 搜索</title>
    {#    加载静态路径#}
    {% load static %}

    {#    链接外部样式表#}
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dsb.css">
    <link rel="stylesheet" href="{% static "css/search.css" %}" type="text/css"/>

    {#    按照标签路径加载脚本#}
    <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    {#  autocomplete function  #}
    <script>
        $(document).ready(function () {
            $("#searchinput").on("input", function () {
                $("#re").html("");
                $("#re").css("display", "none");
                var url = "?s=" + jQuery.trim($("#searchinput").val());
                {#if (jQuery.trim($("#searchinput").val()) != '') {#}
                $.get(url, function (data) {
                    var obj = jQuery.parseJSON(data);
                    $("#re").html("");
                    $.each(obj, function (n, value) {
                        $("#re").append("<li class=\"list-group-item\">" + value + "</li>");
                        {#$("#re").append("<option value=" + value + "/>");#}
                    });
                    var search_value = jQuery.trim($("#searchinput").val());
                    $("#re").css("display", "block");
                    document.getElementById("result").innerHTML = search_value;
                });
                {#       } #}
            });
        });
    </script>

    {#    <script type="text/javascript"> function clearText(field) {#}
    {#        if (field.value == '{{ default_value }}')#}
    {#            field.value = '';#}
    {#        else if (field.value == '')#}
    {#            field.value = '{{ default_value }}';#}
    {#    } </script>#}

</head>
<body>


{% block content %}

    <div class="img_wrap">
        <img id="img" src="{% static "img/BigDataSearch.png" %}">
        <form method="get" action=".">
            <div>
                <div style="width: 700px; margin: 0 auto;">
                    <input type="text" class="form-control" id="searchinput" name="q" list="re"
                           value="{{ default_value }}" autocomplete="off">

                </div>
                <ul id="re" class="list-group">
                </ul>
                {# <input id="search_button" type="submit" value="Search"> #}
                <div class="button" type="submit" value="Search" style="text-align: center;">
                    <input class="gNO89b" value="CXBC Search" aria-label="Google Search" name="btnK"
                           type="submit">
                    <input class="RNmpXc" value="I'm Feeling Lucky" aria-label="I'm Feeling Lucky"
                           name="btnI" type="submit">
                </div>
            </div>
        </form>

        <div class="row">
            {% if exact_result_basic or fuzzy_result_basic or bert_result_basic %}
                <h3 id="result"> basic Results</h3>

                <div class="col">
                    <table class="table">
                        <caption>精确结果</caption>
                        <thead>
                        <tr>
                            <th>索引key</th>
                            <th>召回结果</th>
                        </tr>
                        </thead>
                        {% for result in exact_result_basic %}
                            <tr>
                                <td>{{ result.key }}</td>
                                <td>{{ result.value }}</td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <caption>模糊结果</caption>
                        <thead>
                        <tr>
                            <th>索引key</th>
                            <th>召回结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in fuzzy_result_basic %}
                            <tr>
                                <td>{{ result.key }}</td>
                                <td>{{ result.value }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <caption>模型结果</caption>
                        <thead>
                        <tr>
                            <th>索引key</th>
                            <th>召回结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in bert_result_basic %}
                            <tr>
                                <td>{{ result.key }}</td>
                                <td>{{ result.value }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <p>{{ error_content }}</p>
                </div>

            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
        </div>

        <div class="row">
            {% if exact_result_activity or fuzzy_result_activity or bert_result_activity %}
                <h3 id="result"> activity Results</h3>

                <div class="col">
                    <table class="table">
                        <caption>精确结果</caption>
                        <thead>
                        <tr>
                            <th>索引key</th>
                            <th>召回结果</th>
                        </tr>
                        </thead>
                        {% for result in exact_result_activity %}
                            <tr>
                                <td>{{ result.key }}</td>
                                <td>{{ result.value }}</td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <caption>模糊结果</caption>
                        <thead>
                        <tr>
                            <th>索引key</th>
                            <th>召回结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in fuzzy_result_activity %}
                            <tr>
                                <td>{{ result.key }}</td>
                                <td>{{ result.value }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <caption>模型结果</caption>
                        <thead>
                        <tr>
                            <th>索引key</th>
                            <th>召回结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in bert_result_activity %}
                            <tr>
                                <td>{{ result.key }}</td>
                                <td>{{ result.value }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <p>{{ error_content }}</p>
                </div>

            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
        </div>

        <div class="row">
            {% if exact_result_blackbox or fuzzy_result_blackbox or  bert_result_blackbox %}
                <h3 id="result"> black box Results</h3>

                <div class="col">
                    <table class="table">
                        <caption>精确结果</caption>
                        <thead>
                        <tr>
                            <th>索引key</th>
                            <th>召回结果</th>
                        </tr>
                        </thead>
                        {% for result in exact_result_blackbox %}
                            <tr>
                                <td>{{ result.key }}</td>
                                <td>{{ result.value }}</td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <caption>模糊结果</caption>
                        <thead>
                        <tr>
                            <th>索引key</th>
                            <th>召回结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in fuzzy_result_blackbox %}
                            <tr>
                                <td>{{ result.key }}</td>
                                <td>{{ result.value }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <caption>模型结果</caption>
                        <thead>
                        <tr>
                            <th>索引key</th>
                            <th>召回结果</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in bert_result_blackbox %}
                            <tr>
                                <td>{{ result.key }}</td>
                                <td>{{ result.value }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <p>{{ error_content }}</p>
                </div>

            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
        </div>

    </div>
{% endblock %}

</body>


</html>
