<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block main %}

    <form action="." method="POST" enctype="multipart/form-data">
        {#  {% csrf_token %}#}
        <label>Upload data to mysql</label>
        <input type="file" name="data_file">
        <input type="submit" value="submit">
    </form>

    <p>info:{{ info }}</p>

    <p>导入数据:{{ in_num }}</p>

    <p>显示前30行:</p>

    {% for result in cases %}
        <p>{{ result.key }}: {{ result.value }}</p>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}

    <a href="/search_cxbc/">去搜索页面</a>

{% endblock main %}

</body>
</html>